version: '3'
services:
  repository:
    image: nginx:alpine
    restart: always
    ports:
      - "88:80"
    volumes:
      - "./config/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ repository_path }}:/data/repository/"
      - "./logs/:/data/nginx/logs/"
