{{ project_bin_path }}/etcdctl --ca-file={{ project_config_path }}/ssl/ca.pem \
--key-file={{ project_config_path }}/ssl/server-key.pem \
--cert-file={{ project_config_path }}/ssl/server.pem \
set /coreos.com/network/config '{"network":"{{ network }}", "Backend":{"Type":"vxlan"}}'

