version: '3'
services:
  zk:
    image: zookeeper
    restart: always
    {% for item in zk_nodes %} 
    {%- if item.ip == ansible_default_ipv4.address -%}
    container_name: {{ item.name }}
    {%- endif %}
    {% endfor %} 
    network_mode: host
    environment:
      ZOO_MY_ID: {% for item in zk_nodes %} {%- if item.ip == ansible_default_ipv4.address -%}  {{ item.zoo_my_id }} {%- endif %} {% endfor %} 
      ZOO_SERVERS: {% for item in zk_nodes %}server.{{ item.zoo_my_id }}={{ item.ip }}:2888:3888  {% endfor %} 
    volumes:
      - "{{ zk_config_path }}:/conf/zoo.cfg"
      - "{{ zk_datalog_path }}:/datalog"
      - "{{ zk_data_path }}:/data"

