[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ openresty_root_path }}/openresty/nginx/logs/nginx.pid
ExecStartPre={{ openresty_root_path }}/openresty/nginx/sbin/nginx -t
ExecStart={{ openresty_root_path }}/openresty/nginx/sbin/nginx
ExecReload={{ openresty_root_path }}/openresty/nginx/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
